/2020-Periodo-Especial-1/Linguagem de Programação Orientada a Objetos II/CalculaSalario/build/
/2020-Periodo-Especial-1/Linguagem de Programação Orientada a Objetos II/CalculaSalario/dist/
/2020-Periodo-Especial-1/Linguagem de Programação Orientada a Objetos II/CalculaSalario/nbproject/private/